{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{ author }}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link href=' https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href=' https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>

    <title>
        {% block title %} Lab 4 By {{ author }}{% endblock %}
    </title>

</head>

<style>

    h1 {
        font-family: "Montserrat";
        font-weight: 900;
        text-align: center;
        color: #ffffff;
    }

    h2 {
        font-family: "Montserrat";
        font-weight: 900;
        color: #ffffff;
    }

    footer {
        font-family: "Open Sans";
        text-align: center;
        color: #ffffff;
    }

    #bio {
        float: left;
        width: 50%;
        font-family: "Open Sans";
        color: #4c4c4c;
    }

    #about_me {
        float: right;
        margin-left: 5%;
        width: 45%;
        font-family: "Open Sans";
        color: #4c4c4c;
    }

    #topform {
        float: right;
        width: 100%;

        font-family: "Open Sans";
        color: #ffffff;
    }

    #form {
        color: #4c4c4c;
    }

    .img-circle {
        border-radius: 50%;
        border: #ffffff 2px solid;
    }

    .grad {
        height: 100vh;
{% comment %}        background: #f1ebdf; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#96b9cd, #f1ebdf); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#96b9cd, #f1ebdf); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#96b9cd, #f1ebdf); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#96b9cd, #f1ebdf); /* Standard syntax (must be last) */{% endcomment %}

        background: rgba(120, 57, 168, 1);
        background: -moz-linear-gradient(left, rgba(120, 57, 168, 1) 0%, rgba(151, 220, 255, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(120, 57, 168, 1)), color-stop(100%, rgba(151, 220, 255, 1)));
        background: -webkit-linear-gradient(left, rgba(120, 57, 168, 1) 0%, rgba(151, 220, 255, 1) 100%);
        background: -o-linear-gradient(left, rgba(120, 57, 168, 1) 0%, rgba(151, 220, 255, 1) 100%);
        background: -ms-linear-gradient(left, rgba(120, 57, 168, 1) 0%, rgba(151, 220, 255, 1) 100%);
        background: linear-gradient(to right, rgba(120, 57, 168, 1) 0%, rgba(151, 220, 255, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7839a8', endColorstr='#97dcff', GradientType=1);
    }

    .navbar.navbar-default {
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar.navbar-default.navbar-collapse {
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    footer {
        margin: 0;
        padding: 0;
    }


</style>

<body class=grad>
<header>
    {% include "partials/header.html" %}
</header>
<content>
    <div class="container">
        {% block content %}
            <!-- content goes here -->
        {% endblock %}
    </div>

</content>
<footer>
    <!-- TODO Block Footer dan include footer.html -->
    {% block footer %}
        {% include "partials/footer.html" %}
    {% endblock %}
</footer>

<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
