<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Biodata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href=' http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href=' http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href=' http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href=' http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
</head>
<style>
    table, th, td {
        border: 2px solid #acd066;
    }
    h3{
      margin-top: 2em;
      margin-bottom: 2em;
      font-family:"Montserrat";
      font-weight: bold;
      color:#20a8a1;
    }
    table, tr, th {
      padding-top : 7px;
      padding-bottom: 7px;
      padding-left: 10px;
      padding-right: 10px;
      font-size : 14px;
      font-family:"Montserrat";
      color: #868686;
    }

    table, tr, td {
      padding-top : 7px;
      padding-bottom: 7px;
      padding-left: 10px;
      padding-right: 10px;
      font-size : 14px;
      font-family:"Montserrat";
      color: #868686;
    }
    .subject{
        padding-top : 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
        font-family: "Montserrat";
        font-weight: bold;
        color: #868686;
    }
    .value{
        padding-top : 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
        font-family: "Open Sans", "Lucida Grande", Verdana, Arial, sans-serif;
        color: #868686;
    }
    .navbar-nav .nav-link{
      color:white;
    }
    .navbar-brand{
      color:#20a8a1;
      font-family:"Montserrat";
      font-weight:bold;
    }
    .nav-link{
      font-size: 14px;
    }

</style>
<body style="background-color: #eaeaea">
    <div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-expand-lg navbar-inverse" style="background-color:#252525" >
          <a class="navbar-brand" href="#">NAVBAR</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/lab-2/">Home</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/lab-2-addon/">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lab-3/">Diary</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>
